<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        
        <div class="col">
          <div id="workbench" class="card" style="height:100%">
            <div class="card-header"></div>
            <div class="card-body">
              
              <!-- TEXTE SOURCE -->
              <div class="form-group">
                <label for="source" v-text="workbench.source.label"></label>
                <textarea
                  @input="updateVisualization"
                  name="source" 
                  class="form-control"
                  rows="3" 
                  v-model="workbench.source.value" 
                  :placeholder="workbench.source.placeholder"></textarea>
              </div>

              <!-- FILTRE -->
              <div class="form-group">
                <label for="selection" v-text="workbench.selection.label"></label>
                <input
                  @keyup.enter="addSelectionToTarget"
                  type="text" 
                  class="form-control"
                  name="selection"
                  v-model="workbench.selection.value"
                  :placeholder="workbench.selection.placeholder">
                <small id="selectionHelp" class="form-text text-muted" v-text="workbench.selection.small"></small>
              </div>
              
              <!-- TEXTE FINAL -->
              <hr>
              <span 
                @dblclick="removeWordFromTarget"
                class="badge badge-pill badge-primary p-r-1" 
                v-for="word in workbench.target.words" 
                v-text="word"></span>
              <small id="targetHelp" class="form-text text-muted" v-text="workbench.target.small"></small>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
        
        <div class="col">
          <div class="card" style="height:100%">
            <div class="card-header"></div>
            <div class="card-body">
              <ul>
                <li v-for="word in workbench.target.words" v-text="word"></li>
              </ul>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="height:100%">
            <div class="card-header"></div>
            <div class="card-body">
              <canvas id="canvas" width="400" height="400"></canvas>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>

      </div>
    </div>
  </body>

  <script>
    new Vue({
      el: '.container-fluid',
      data: {
        visualization:{
          canvas:{
            context: document.getElementById("canvas")
          }
        },
        workbench:{
          source:{
            label:"Texte source",
            value:"",
            placeholder:"Ici, saisir un texte source ..."
          },
          selection:{
            label:"Filtre",
            value:"",
            placeholder:"Ici, saisir un filtre ...",
            small:"[Entrée] pour valider"
          },
          target:{
            words:[ 'ceci', 'est', 'un', 'test' ],
            small: "[double-click] pour supprimer un élément"
          }
        },
      },
      computed: {
        isEmptySource: function(){
          let empty = "";
          return empty === this.workbench.source.value
          .toLowerCase()
          .replace(/\s/g,empty);
        }
      },
      methods: {
        addSelectionToTarget: function(event){
          console.log("adding selection to target", event);
          this.workbench.target.words.push(...event.target.value.split(/\s/));
        },
        removeWordFromTarget: function(event){
          console.log("removing word from target", event);
          let words = this.workbench.target.words;
          let word = event.target.innerText;
          let index = words.indexOf(word);
          console.log(index);
          words.splice(index, 1);
        },
        updateVisualization: function(event){
          console.log("updating visualization", event);
          
          let getSignatureFrom = function(text){
            console.log("getting signature from ", text);
            let empty = "";
            let sanitized = text
            .toLowerCase()
            .replace(/\s/g,empty);
            let charArray = sanitized.split('');
            let signature = {};
            
            if(empty===sanitized){
              return signature;
            }
            
            let populate = function(letter){
              let increment = 1;
              if(signature[letter]){
                signature[letter]+=increment;
              } else signature[letter] = increment;
            }
            charArray.forEach(populate);
            console.log(signature);
            return signature;
          };
          
          
          let signature = getSignatureFrom(event.target.value);
          let canvas = document.getElementById("canvas");
       
            let myChart = new Chart(canvas, {
            type: 'horizontalBar',
            data: {
              labels: Object.keys(signature),
              datasets: [{
                label: 'Occurences des lettres',
                data: Object.values(signature),
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero:true
                  }
                }]
              }
            }
          });
          
          
        }
      }
    });
    /*
    (function() {
      var displayAnagrammes, filter, program, source;

      require('../index.js');

      program = require('commander');

      program.option('-t, --text <text>', 'texte source').option('-l, --list', 'cache les détaille').option('-f, --filter <filter>', 'filtre a appliquer lors de la recherche de résultat').parse(process.argv);

      displayAnagrammes = function(candidate) {
        var output, substraction;
        output = "";
        if (!program.list) {
          output += (program.text.anagramSanitization().sortByFrequency().reverse()) + " ; ";
        }
        output += "" + candidate;
        if (!program.list) {
          substraction = source.substractWord(candidate).rawConcatenation().sortByFrequency().reverse();
          output += " ; " + substraction;
          if (program.filter) {
            output += " ; «" + program.filter + "»";
          }
        }
        return console.log(output);
      };

      if (program.text == null) {
        console.error('Un texte de travail est obligatoire (-t)');
        process.exit(1);
      }

      if (program.filter) {
        filter = {
          substraction: program.text.substractWord(program.filter),
          outOfPerimeter: []
        };
        Object.keys(filter.substraction).forEach(function(key) {
          if (filter.substraction[key] < 0) {
            return filter.outOfPerimeter.push(key + ": " + filter.substraction[key]);
          }
        });
      }

      source = (program.filter ? filter.substraction.rawConcatenation() : program.text);

      source.elligiblesForAnagram().sort(function(a, b) {
        return a.length - b.length;
      }).forEach(displayAnagrammes);

      if (program.filter) {
        filter.outOfPerimeter.forEach(function(r) {
          return console.log(r);
        });
      }

    }).call(this);
    */
  </script>

</html>
