<html>

  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid"
         id="app-container">
      <div class="row">

        <div class="col">
          <div id="workbench"
               class="card"
               style="height:100%">
            <div class="card-header"></div>
            <div class="card-body">

              <!-- TEXTE SOURCE -->
              <div class="form-group">
                <label for="source"
                       v-text="workbench.source.label"></label>
                <textarea @input="updateVisualization"
                          name="source"
                          class="form-control"
                          rows="3"
                          v-model="workbench.source.value"
                          :placeholder="workbench.source.placeholder"></textarea>
              </div>

              <!-- FILTRE -->
              <div class="form-group">
                <label for="selection"
                       v-text="workbench.selection.label"></label>
                <input @keyup.enter="addSelectionToTarget"
                       type="text"
                       class="form-control"
                       name="selection"
                       v-model="workbench.selection.value"
                       :placeholder="workbench.selection.placeholder">
                <small id="selectionHelp"
                       class="form-text text-muted"
                       v-text="workbench.selection.small"></small>
              </div>

              <!-- TEXTE FINAL -->
              <hr>
              <div v-if="!isEmptyTarget">
                <span @dblclick="removeWordFromTarget"
                      class="badge badge-pill badge-primary p-r-1"
                      v-for="word in workbench.target.words"
                      v-text="word"></span>
                <small id="targetHelp"
                       class="form-text text-muted"
                       v-text="workbench.target.small"></small>
              </div>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>

        <div class="col">

          <!-- LISTE DES MOTS -->
          <div class="card"
               style="height:100%">
            <div class="card-header"></div>
            <div class="card-body">
              <ul class="list-group">
                <!-- navigation vers le haut -->
                <li class="list-group-item">
                  <p class="text-center">
                    <button class="btn btn-primary"
                            @click="incrementCurrentOffset">
                      <i class="material-icons">keyboard_arrow_up</i>
                    </button>
                  </p>
                </li>
                <!-- liste des mots disponnibles pour le filtre -->
                <li class="list-group-item"
                    v-for="word in wordlistFiltered"
                    v-text="word"></li>
                <!-- navigation vers le bas -->
                <li class="list-group-item">
                  <p class="text-center">
                    <button class="btn btn-primary"
                            @click="decrementCurrentOffset">
                      <i class="material-icons">keyboard_arrow_down</i>
                    </button>
                  </p>
                </li>

              </ul>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>

        <div class="col">
          <div class="card"
               style="height:100%">
            <div class="card-header"></div>
            <div class="card-body">
              <canvas id="canvas"
                      width="400"
                      height="400"></canvas>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>

      </div>
    </div>
  </body>

  <script src="./vue-configuration.js"></script>
  <script src="./vue-data.js"></script>
  <script src="./vue-computed.js"></script>
  <script src="./vue-methods.js"></script>
  <script src="./vue-manager.js"></script>

</html>